/********************
 * LMMS style sheet *
 ********************/
 
/* most foreground text items */
QLabel, QTreeWidget, QListWidget, QGroupBox {
	color: #ffffff;
}

QTreeWidget {
    background-color: #373737;
    border: 0px solid #373737;
}

QMdiArea {
	/*background-image: url(resources:background_artwork.png);*/
    background-color: #3a3a3a;
    /*border-left: 2px solid #373737;*/
    /*margin-top: 5px;*/
    /*border-top: 2px solid #373737;*/
}

AutomationEditor {

	color: #ffffff;
	background-color: #3a3a3a;
	qproperty-backgroundShade: rgba(255, 255, 255, 15);
	qproperty-vertexColor: #6749C2;
	qproperty-crossColor: rgba(215, 210, 254, 150);

	/* Grid colors */
	qproperty-lineColor: #555555;
	qproperty-beatLineColor: #999999;
	qproperty-barLineColor: #eeeeee;

	qproperty-graphColor: rgba(69,42,153,180);
	qproperty-scaleColor: #3a3a3a;

}

/* text box */

QLineEdit {
	border-radius: 4px;
	border: 1px inset #909090;
	background: #3a3a3a;
	color: #e0e0e0;
}

/* text box when it wants text */

QLineEdit:focus {
	border: 1px solid white;
}


QToolTip {
	border-radius: 1px;
    padding: 2px;
    background: #222222;
	opacity: 255;
	border: 1.0px solid rgba(100,100,100,255);
	color: white;
}

textFloat {
	border-radius: 4px;
    background: #222222;
	opacity: 175;
	border: 1.0px solid rgba(100,100,100,255);
    color: white;
}

QMenuBar {
    background-color: #3a3a3a;
}

QmenuBar::item:selected {
	background: #747474;
}

QmenuBar::item:pressed {
	background: #747474;
}

QMenu {
	border:1px solid #666666;
	background-color: #3a3a3a;
	font-size:11px;
}

QMenu::separator {
	height: 1px;
	background: #3a3a3a;
	margin-left: 5px;
	margin-right: 5px;
}

QMenu::item {
	color: white;
	padding: 2px 32px 2px 20px;
	margin:3px;
}

QMenu::item:selected {
	color: white;
	/* font-weight:bold; */
	background-color: #747474;
}

QMenu::item:disabled {
	color: #9f9f9f;
	background-color: #3a3a3a;
	font-size:12px;
	font-weight: normal;
	padding: 4px 32px 4px 20px;
}

QMenu::indicator {
	width: 16;
	height: 16;
	opacity: 0;
	background-color: #3a3a3a;
}

QMenu::indicator:checked {
	image: url("resources:apply.png");
}

QMenu::indicator:selected {
	image: url("resources:apply-selected.png");
	background-color: #3a3a3a;
}

PianoRoll {
	background-color: #3a3a3a;
	qproperty-backgroundShade: rgba(255, 255, 255, 15); /* used to highlight every other bar */
	qproperty-noteModeColor: #ffffff;
	qproperty-noteColor: #80f1fe;
	qproperty-noteOpacity: 165;
	qproperty-noteBorders: false; /* boolean property, set false to have borderless notes */
	qproperty-selectedNoteColor: #0040c0;
	qproperty-barColor: #80f1fe; /* velocity */
	qproperty-markedSemitoneColor: #282828;
	/* Grid colors */
	qproperty-lineColor: #555555;
	qproperty-beatLineColor: #999999;
	qproperty-barLineColor: #eeeeee;

	/* Text on the white piano keys */
	qproperty-textColor: #000;
	qproperty-textColorLight: #808080;
	qproperty-textShadow: #f0f0f0;
}

/* main toolbar oscilloscope - can have transparent bg now */

visualizationWidget  {
	background: #3a3a3a;
	border: none;
}

/* main toolbar cpu load widget - this can have transparent bg now */

cpuloadWidget {
	border: none;
	background: url(resources:cpuload_bg.png);
}

/* scrollbar: trough */

QScrollBar:horizontal {
    border: 0px solid #3a3a3a;
    background: rgb( 70,70,70 );
    height: 6px;
    margin: 0px 6px;
}
QScrollBar:vertical {
    border: 0px solid #131313;
    background: rgb( 70,70,70 );
    width: 6px;
    margin: 6px 0px;
}

/* scrollbar: trough clicky things */

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal,
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar::add-page:horizontal:pressed, QScrollBar::sub-page:horizontal:pressed,
QScrollBar::add-page:vertical:pressed, QScrollBar::sub-page:vertical:pressed {
    background: rgba(0,0,0,50);
}

/* scrollbar: handles (sliders) */

QScrollBar::handle:horizontal {
    background: #5a5a5a;
    border: 1px outset #888;
    border-radius: 1px;
    min-width: 24px;
}

QScrollBar::handle:horizontal:hover {
    background: #7a7a7a;
}

QScrollBar::handle:horizontal:pressed {
    background: #7a7a7a;
}

QScrollBar::handle:vertical {
    background: #5a5a5a;
    border: 1px outset #888;
    border-radius: 1px;
    min-height: 24px;
}

QScrollBar::handle:vertical:hover {
    background: #7a7a7a;
}

QScrollBar::handle:vertical:pressed {
    background: #7a7a7a;
}

QScrollBar::handle:horizontal:disabled, QScrollBar::handle:vertical:disabled  {
	background: #3a3a3a;
	border-radius: 1px;
	border: 0px solid rgba(0,0,0,32);
}

/* arrow buttons */

QScrollBar::add-line, QScrollBar::sub-line {
    background: qradialgradient(cx:0.3, cy:0.3, radius:0.8, fx:0.3, fy:0.3, stop:0 #c9c9c9, stop:1 #969696 );
    border-radius: 1px;
    border: 0px solid #131313;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal 	{  	subcontrol-position: right; width: 6px;}
QScrollBar::sub-line:horizontal 	{ 	subcontrol-position: left; width: 6px;}
QScrollBar::add-line:vertical 		{ 	subcontrol-position: bottom; height: 6px;}
QScrollBar::sub-line:vertical 		{ 	subcontrol-position: top; height: 6px;}

QScrollBar::add-line:hover, QScrollBar::sub-line:hover {
	background: qradialgradient(cx:0.3, cy:0.3, radius:0.8, fx:0.3, fy:0.3, stop:0 #e0e0e0, stop:0.5 #c9c9c9, stop:1 #969696 );
}

QScrollBar::add-line:pressed, QScrollBar::sub-line:pressed {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #969696, stop:0.5 #c9c9c9, stop:1 #969696 );
}

QScrollBar::add-line:disabled, QScrollBar::sub-line:disabled {
	background: #3a3a3a;
}

/* arrow button arrows */

QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal,
QScrollBar::up-arrow:vertical, QScrollBar::down-arrow:vertical {
    border: none;
    background-color: none;
    width: 0px;
    height: 0px;
}

QScrollBar::left-arrow:horizontal { background-image: url(resources:sbarrow_left.png);}
QScrollBar::right-arrow:horizontal { background-image: url(resources:sbarrow_right.png);}
QScrollBar::up-arrow:vertical { background-image: url(resources:sbarrow_up.png);}
QScrollBar::down-arrow:vertical { background-image: url(resources:sbarrow_down.png);}
QScrollBar::left-arrow:horizontal:disabled { background-image: url(resources:sbarrow_left_d.png);}
QScrollBar::right-arrow:horizontal:disabled { background-image: url(resources:sbarrow_right_d.png);}
QScrollBar::up-arrow:vertical:disabled { background-image: url(resources:sbarrow_up_d.png);}
QScrollBar::down-arrow:vertical:disabled { background-image: url(resources:sbarrow_down_d.png);}

/* background for song editor and bb-editor */

TrackContainerView QFrame{
	background-color: #3a3a3a;
}

/* background for track controls */
TrackView > QWidget {
	background-color: #3a3a3a;
}


/* autoscroll, loop, stop behaviour toggle buttons */

nStateButton {
	max-height: 22px;
	max-width: 22px;
	min-height: 22px;
	min-width: 22px;
}

/* track background colors */
TrackContentWidget {
    qproperty-darkerColor : rgb(70, 70, 70);
    qproperty-lighterColor: rgb(80, 80, 80);
	qproperty-gridColor: rgba( 0, 0, 0, 160 );
	qproperty-embossColor: rgba( 140, 140, 140, 64 );
}


/* gear button in tracks */

TrackOperationsWidget > QPushButton {
	max-height: 26px;
	max-width: 26px;
	min-height: 26px;
	min-width: 26px;
	background: none;
	border:none;
}

TrackOperationsWidget > QPushButton::menu-indicator {
	image: url(resources:trackop.png);
	subcontrol-origin: padding;
	subcontrol-position: center;
	position: relative;
	top: 2px;
}

TrackOperationsWidget > QPushButton::menu-indicator:hover {
	image: url(resources:trackop_h.png);
}


TrackOperationsWidget > QPushButton::menu-indicator:pressed,
TrackOperationsWidget > QPushButton::menu-indicator:checked
 {
	image: url(resources:trackop_c.png);
	position: relative;
	top: 3px;
}

/* actually has no effect yet so disabled */
/*trackWidget {
/*	border-bottom: 1px solid rgb(0, 0, 0);*//*
	background-color: rgb(0, 0, 0);
}*/

/* font sizes */

nameLabel, effectLabel, sf2InstrumentView > QLabel {
	font-size:10px;
}

/* main toolbar sliders (master vol, master pitch) */

automatableSlider::groove:vertical {
	background: rgba(0,0,0, 128);
	border: 1px inset rgba(100,100,100, 64);
	border-radius: 2px;
	width: 2px;
	margin: 2px 2px;
}

automatableSlider::handle:vertical {
	background: none;
	border-image: url(resources:main_slider.png);
	width: 26px;
	height: 10px;
	border-radius: 2px;
	margin: -4px -12px -2px;
}

/* window that shows up when you add effects */

EffectSelectDialog QScrollArea {
	background: #3a3a3a;
}

/* the inner boxes in LADSPA effect windows */

EffectControlDialog QGroupBox {
	background: #3a3a3a;
	margin-top: 1ex;
	padding: 10px 2px 1px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0, 64);
}

/* the inner box titles when present (channel 1, channel 2...) */

EffectControlDialog QGroupBox::title {
	subcontrol-origin: margin;
	subcontrol-position: top left;
	background: #3a3a3a;
	color: white;
	border-radius: 2px;
	border: 1px solid rgba(0,0,0, 64);
	padding: 2px 1px;
}

/* main toolbar */

QWidget#mainToolbar {
    background: #3a3a3a;
}

/* smaller toolbars */

QToolBar {
    background: #3a3a3a;
    border: 2px solid #3a3a3a;
}

QToolButton, toolButton {
	padding: 0px 0px 0px 0px;
	border-radius: 0px;
	border: 0px solid rgba(0,0,0,32);
    background: #3a3a3a;
	font-size:10px;
	color: white;
}

/* separate corner rounding for play and stop buttons! */

toolButton#playButton {
	border-top-left-radius: 1px 15px;
	border-bottom-left-radius: 5px 15px;
}

toolButton#stopButton {
	border-top-right-radius: 5px 15px;
	border-bottom-right-radius: 5px 15px;
}

/* record and record-accompany can be styled with #recordButton and #recordAccompanyButton respectively */

/* all tool buttons */

QToolButton {
	margin: 1px;
	padding: 2px 2px 2px 2px;
	border: 1px solid #3a3a3a;
	border-radius: 2px;
    background: #3a3a3a;
	font-size:10px;
	color: #fff;
}

QToolButton:hover {
	border: 1px solid #a0a0a0;
	border-radius: 2px;
    background: #3a3a3a;
}

QToolButton:pressed {
	border: 1px solid white;
	border-radius: 2px;
    background: #3a3a3a;
}

QToolButton:checked {
	border: 1px solid white;
    background: #3a3a3a;
}



/* track label buttons - the part that contains the icon and track title */

TrackLabelButton {
	background-color: #3a3a3a;
	color: white;
	font-size: 11px;
	font-weight: normal;
	border-radius: 0px;
	border: none;
	padding: 2px 1px;
}

TrackLabelButton:hover {
    background-color: #3a3a3a;
	color: white;
	border: 1px solid white;
	padding: 0px 0px;
	margin: 0px;
}

TrackLabelButton:pressed {
    background-color: #3a3a3a;
	color: white;
	border: 1px solid rgba(0,0,0,50);
	padding: 2px 0px 0px;
	font-weight: bold;
}

TrackLabelButton:checked {
    background-color: #3a3a3a;
	color: white;
	border: 1px solid rgba(250,250,250,128);
	padding: 0px 0px 0px;
	font-weight: bold;
}

TrackLabelButton:checked:hover {
    background-color: #3a3a3a;
}

TrackLabelButton:checked:pressed {
    background-color: #3a3a3a;
}

/* sidebar, sidebar buttons */

SideBar {
	subcontrol-position: center;
    background-color: #3a3a3a;
    /*border-right: 2px solid #373737;*/
    /*margin-top: 5px;*/
    /*border-top: 2px solid #333333;*/
}

SideBar QToolButton {
	font-size: 12px;
}

/* font sizes for text buttons */

FxMixerView QPushButton, EffectRackView QPushButton, ControllerRackView QPushButton {
    /*border: 1px solid red;*/
    outline: none; /* disable dotted border on clicked buttons */
    background-color: #454545;
	font-size: 10px;
}

FxLine {
	background: #3a3a3a;
	color: #e0e0e0;
	qproperty-backgroundActive: #505050;
	qproperty-strokeOuterActive: #3a3a3a;
	qproperty-strokeOuterInactive: #3a3a3a;
	qproperty-strokeInnerActive: #101010;
	qproperty-strokeInnerInactive: #101010;
}

/* persistent peak markers for fx peak meters */
fader {
	qproperty-peakGreen: rgb( 74, 253, 133);
	qproperty-peakRed: rgb( 255, 100, 100);
}
/* persistent peak markers for fx peak meters */
Fader {
	qproperty-peakGreen: #0ad45c;
	qproperty-peakYellow: #d6ec52;
	qproperty-peakRed: #c12038;

    border: 1px solid red;
}

/*
timeLine {
	font-size: 8px;
}
*/



TimeLineWidget {
    background: #333333;
	/* font-size only supports px and pt. */
	font-size: 7pt;
	/* lengths also support em. This will make sure that the height
	   will always change in the same proportion as the font size
	   defined above.
	   If you want a fixed size set min and max to the same value. */
	min-height: 1.5em;
	max-height: 1.5em;

	/* Properties for the loop indicator rectangle in inactive state:
	    - LoopColor: Color of the outermost border
	    - LoopBrush: Brush to paint the main portion of the rectangle
	    - LoopInnerColor: Color used to paint the inlayed border */
	qproperty-inactiveLoopColor: #505050;
	qproperty-inactiveLoopBrush: #505050;
	qproperty-inactiveLoopInnerColor: #505050;

	/* Properties for the loop indicator rectangle in active state.
	   See above for detailed description. */
	qproperty-activeLoopColor: #74aa74;
	qproperty-activeLoopBrush: #74aa74;
	qproperty-activeLoopInnerColor: #74aa74;

	/* Vertical padding for the loop indicator rectangle.
	   A value of zero draws the rectangle at the full height of the widget. */
	qproperty-loopRectangleVerticalPadding: 1;

	qproperty-barLineColor: rgb( 192, 192, 192 );
	qproperty-barNumberColor: rgb( 192, 192, 192 );
}


QTreeView {
	alternate-background-color: #3a3a3a;
}

QTreeView::item:selected {
    background-color: #747474;
}

TrackContainerView QLabel {
	background: none;
}

/* Patterns */

/* common pattern colors */
TrackContentObjectView   {
	qproperty-mutedColor: rgb(255,255,255,100);
	qproperty-mutedBackgroundColor: #373d48;
	qproperty-selectedColor: #006B65;
	qproperty-BBPatternBackground: #3a3a3a;
	qproperty-textColor: #fff;
	qproperty-textShadowColor: rgb(0,0,0,200);
	qproperty-gradient: false; /* boolean property, set true to have a gradient */
}

/* instrument pattern */
PatternView {
	color: rgb( 119, 199, 216 ); /* notes color */
	qproperty-fgColor: rgb( 187, 227, 236 );
	qproperty-textColor: rgb( 255, 255, 255 );
}

/* sample track pattern */
SampleTCOView {
	color: rgb( 74, 253, 133 );
	qproperty-fgColor: rgb( 187, 227, 236 );
	qproperty-textColor: rgb( 255, 60, 60 );	
}

/* automation pattern */
AutomationPatternView {
	color: #99afff;
	qproperty-fgColor: rgb( 128, 241, 254 );
	qproperty-textColor: rgb( 255, 255, 255 );
}

/* bb-pattern */
bbTCOView {
	color: #80b6af; /* default colour for bb-tracks, used when the colour hasn't been defined by the user */
	qproperty-textColor: #ffffff;
}



/* Subwindows in MDI-Area */
SubWindow {
    color: #707070;
    qproperty-activeColor: #909090;
	/*qproperty-textShadowColor: #888888;*/
	qproperty-borderColor: #252525;
}

/* Subwindow title text */
SubWindow > QLabel {
	color: #444444;
	font-size: 12px;
	font-style: normal;
}

/* SubWindow titlebar button */
SubWindow > QPushButton {
	background-color: rgba( 255, 255, 255, 0% );
	border-width: 1px;
	border-color: none;
	border-style: solid;
	border-radius: 2px;
}

SubWindow > QPushButton:hover{
	background-color: rgba( 255, 255, 255, 15% );
	border-width: 1px;
	border-color: rgba( 0, 0, 0, 20% );
	border-style: solid;
	border-radius: 2px;
}



/* Plugins */

TripleOscillatorView knob {
	color: rgb(78, 58, 58);
	qproperty-outerColor: rgb(0, 0, 0);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 7;
	qproperty-centerPointX: 13.0;
	qproperty-centerPointY: 14.0;
	qproperty-lineWidth: 2;
}


kickerInstrumentView knob#smallKnob {
	color: #595959;
	qproperty-outerColor: black;
	qproperty-innerRadius: 3;
	qproperty-outerRadius: 11.0;
	qproperty-centerPointX: 14.5;
	qproperty-centerPointY: 14.5;
	qproperty-lineWidth: 2;
}


kickerInstrumentView knob#largeKnob {
	color: #0c3b89;
	qproperty-outerColor: #519fff;
	qproperty-innerRadius: 12.0;
	qproperty-outerRadius: 14.5;
	qproperty-centerPointX: 17.0;
	qproperty-centerPointY: 17.0;
	qproperty-lineWidth: 3;
}


AudioFileProcessorView knob {
	color: rgb(240, 147, 14);
	qproperty-outerColor: rgb(30, 35, 37);
	qproperty-innerRadius: 4;
	qproperty-outerRadius: 11.2;
	qproperty-centerPointX: 18.5;
	qproperty-centerPointY: 16.5;
	qproperty-lineWidth: 3;
}

organicInstrumentView knob {
	color: rgb(124, 207, 98);
	qproperty-outerColor: rgb(13, 42, 4);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 7.5;
	qproperty-centerPointX: 10.5;
	qproperty-centerPointY: 10.5;
	qproperty-lineWidth: 1.5;
}

organicInstrumentView knob#harmKnob {
	color: rgb(205, 98, 216);
	qproperty-outerColor: rgb(18, 4, 18);
}

organicInstrumentView knob#fx1Knob,
organicInstrumentView knob#volKnob {
	color: rgb(157, 157, 157);
	qproperty-outerColor: rgb(37, 37, 37);
	qproperty-innerRadius: 4;
	qproperty-outerRadius: 10.0;
	qproperty-centerPointX: 18.5;
	qproperty-centerPointY: 13.8;
	qproperty-lineWidth: 2;
}

sf2InstrumentView knob {
	color: #ff00ea;
	qproperty-outerColor: rgb(20, 5, 18);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 9.2;
	qproperty-centerPointX: 15.5;
	qproperty-centerPointY: 15.42;
	qproperty-lineWidth: 2;
}

sfxrInstrumentView knob {
	color: #000;
	qproperty-outerColor: rgb(194, 177, 145);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 9;
	qproperty-lineWidth: 2;
}

sfxrInstrumentView knob#envKnob {
	color:	#3a3a3a;
	qproperty-outerColor: #3a3a3a;
}

sfxrInstrumentView knob#freqKnob {
	color:	#1e4a22;
	qproperty-outerColor: #3c9544;
}

sfxrInstrumentView knob#changeKnob {
	color:	#591c1c;
	qproperty-outerColor: #b23737;
}

sfxrInstrumentView knob#sqrKnob {
	color:	#3b2714;
	qproperty-outerColor: #724c27;
}

sfxrInstrumentView knob#repeatKnob {
	color:	#292929;
	qproperty-outerColor: #515151;
}

sfxrInstrumentView knob#phaserKnob {
	color:	#144c4d;
	qproperty-outerColor: #299899;
}

sfxrInstrumentView knob#filterKnob {
	color:	#47224c;
	qproperty-outerColor: #8e4397;
}

opl2instrumentView knob {
	color: rgb(128,128,128);
	qproperty-outerColor: rgb(255,255,255);
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 9;
	qproperty-lineWidth: 2;
}

sidInstrumentView knob {
	color: rgb(113,95,80);
	qproperty-outerColor: rgb( 255,255,255 );
	qproperty-innerRadius: 2;
	qproperty-outerRadius: 7;
	qproperty-lineWidth: 2;
}

WatsynView knob {
	qproperty-innerRadius: 1;
	qproperty-outerRadius: 7;
	qproperty-centerPointX: 9.5;
	qproperty-centerPointY: 9.5;
	qproperty-lineWidth: 2;
}

WatsynView knob#aKnob {
	color: #43b2ff;
	qproperty-outerColor: #43b2ff;
}

WatsynView knob#bKnob {
	color: #fc5431;
	qproperty-outerColor: #fc5431;
}

WatsynView knob#mixKnob {
	color: #43ff82;
	qproperty-outerColor: #43ff82;
	qproperty-outerRadius: 13;
	qproperty-centerPointX: 15.5;
	qproperty-centerPointY: 15.5;
}

WatsynView knob#mixenvKnob {
	color: #43ff82;
	qproperty-outerColor: #43ff82;
}

WatsynView knob#xtalkKnob {
	color: #fb50fb;
	qproperty-outerColor: #fb50fb;
}

MonstroView knob {
	color: #ffffff;
	qproperty-outerColor: #aaaaaa;
	qproperty-outerRadius: 9;
	qproperty-innerRadius: 6;
	qproperty-centerPointX: 10;
	qproperty-centerPointY: 10;
	qproperty-lineWidth: 2.5;
}

NesInstrumentView knob {
	color: #e7231b;
	qproperty-outerColor: #fff;
	qproperty-outerRadius: 11.0;
	qproperty-innerRadius: 8.0;
	qproperty-centerPointX: 14.5;
	qproperty-centerPointY: 14.5;
	qproperty-lineWidth: 2;
}

/* palette information  */

LmmsPalette {
	qproperty-background: #373737;
	qproperty-windowText: #c4c4c4;
	qproperty-base: #373737;
	qproperty-text: #c4c4c4;
	qproperty-button: #3a3a3a;
	qproperty-shadow: #3a3a3a;
	qproperty-buttonText: #ffffff;
	qproperty-brightText: #4afd85;
	qproperty-highlight: #373737;
	qproperty-highlightedText: #ffffff;
	/* the next two are used for whatsthis dialogs */
	qproperty-toolTipText: #ffffff;
	qproperty-toolTipBase: #3a3a3a;
}

